<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velar</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../img/icon.png"  type="imagen/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="../js/java.js" defer ></script>
</head>
<body class="paginas-galeria">
    
    <header class="header">
        <div class="logo-nav-container">
        <nav class="navegation">
            <ul>
                <li><a href="../index.html" class="lis-en">Inicio</a></li>
                <li><a href="galeria.html" class="lis-en activo">Galeria</a></li>
                <li><a href="../index.html" class="logo"><img src="../img/iso.png" width="36" alt="icon"></a></li>
                <li><a href="presupuesto.html" class="lis-en">Presupuesto</a></li>
                <li><a href="contacto.html" class="lis-en">Contacto</a></li>

            </ul>
        </nav>
        </div>
    </header>
   
    
    <div class="conten-gale">
        <div class="watch-gale">
            <h2>Watch</h2>
            <p>Watch más inteligente del mundo</p>
            <button> Más infomación</button>
            <img src="../img/watch-gale.png" width="592"  alt="reloj">
        </div>
        <div class="sound-gale">
            <h2>VelarSound</h2>
            <p>Maxima aislación de ruido</p>
            <button> Más infomación</button>
            <img src="../img/cascos.png" width="918" alt="cascos">
        </div>
        <div class="acce-gale">
            <h2>Acesorios</h2>
            <p>Diversos acesorios</p>
            <img src="../img/acsor-gale.png" width="300" alt="acesorios">
        </div>
        <div class="pad-gale">
            <h2>Pad</h2>
            <p>Un Pad de ultima generacion, con chips A14</p>
            <button> Más infomación</button>
            <img src="../img/ipad-gale.png" width="1849" alt="paid">
        </div> 
        <div class="ve-gale">
            <h2>Ve</h2>
            <p>Si puedes imaginarlo,<br>
            el Ve puede hacerlo.</p>
            <button> Más infomación</button>
            <img src="../img/ve-gale.png" width="300" alt="portatil">
        </div>
        <div class="phonelar-gale">
            <h2>Phonelar</h2>
            <p>Todos los modelos. Elige el tuyo.</p>
            <button> Más infomación</button>
            <img src="../img/phone-gale.png" width="300" alt="iphone">
        </div>
    </div> 

    <div class="button-subir" id="buttonSubir">
        <button>
            <i class="fa-solid fa-angle-up"></i>
        </button>
    </div>


     <h2 class="h2-slider-gale "> Echa un vistazo a las novedades</h2>
    <div class="slider-conte">
        <button class="button-prev-slider">
            <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <div class="slider-gale" id="slider-gale">
            <div class="slider-manual" id="slider-manual">
                <div class="slider" >
                    <p></p>
                    <picture>
                        <img src="../img/vemini-slider.jpg" width="566" alt="portatil mini">
                    </picture>
                </div>
                <div class="slider" >
                    <p></p>
                    <picture>
                        <img src="../img/watch-slider.jpg" width="567" alt="watch">
                    </picture>
                </div>     
                <div class="slider" >
                    <p></p>
                    <picture>
                        <img src="../img/iphone-slider.jpg"  width="567" alt="iphone">
            
                    </picture>
                </div>
                <div class="slider" >
                    <p></p>
                    <picture>
                        <img src="../img/boci-slider.jpg" width="566" alt="bocina">
                    </picture>
                </div>
                <div class="slider" >
                    <p></p>
                    <picture>
                        <img src="../img/pad-slider.jpg" width="567" alt="ipad">
                    </picture>
                    
                </div>
                <div class="slider" >
                    <p></p>
                    <picture>
                        <img src="../img/Ive-slider.jpg" width="567" alt="ordenador">
                    </picture>
                </div>
            </div>
        </div>
      
         <!-- Botones de navegación> --> 
        <button class="button-next-slider">
            <i class="fa-solid fa-circle-chevron-right"></i>
        </button>

    </div>

    <h2 class="h2-entre-slider">Aún más razones para comprar con nosotros.</h2>
    <div class="slider-conte1">
        <button class="button-prev-slider1">
            <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <div class="slider-gale1" id="slider-gale1">
            <div class="slider-manual1" id="slider-manual1">
                <div class="slider1" id="slider1">
                    <p></p>
                    <picture>
                        <img src="../img/tarjeta-slider.png" width="531" alt="tarjeta">
                    </picture>
                </div>
                <div class="slider1">
                    <p></p>
                    <picture>
                        <img src="../img/camion-slider.png" width="531" alt="camion">
                    </picture>
                </div>
                <div class="slider1">
                    <p></p>
                    <picture>
                        <img src="../img/renueva-slider.png" width="531" alt="renueve">
                    </picture>
                </div>
                <div class="slider1">
                    <p></p>
                    <picture>
                        <img src="../img/personaliza-slider.png" width="531" alt="personaliza">
                    </picture>
                </div>
                <div class="slider1">
                    <p></p>
                    <picture>
                        <img src="../img/casa-slider.png" width="531" alt="casa">
                    </picture>
                    
                </div>
                <div class="slider1">
                    <p></p>
                    <picture>
                        <img src="../img/hazlos-slider.png" width="531" alt="hazlo">
                    </picture>
                </div>
            </div>
        </div>
         <!-- Botones de navegación> --> 
        <button class="button-next-slider1">
            <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
    </div>
    
   <div class="footer">
        <div class="footer-imagen">
            <img src="../img/footer-logo.png" width="365" alt="isotipo">
             <p>Antencion telefonica con el numero 443 56 43 29 <br>
            Lunes a Viernes 9:00 a 20:00 y de 9:00 a 18:00 los Sabados.<br>
             Direcciones en España: <br>
            Prta del Sol, 1, Centro, 28013 Madrid desde 9:30 a 21:00</p>
        </div>
        <div class="filas">
            <div class="filas-cont">
                <h4>Ver &  comprar</h4>
                <ul>
                    <li>Tienda</li>
                    <li>Ve</li>
                    <li>Pad</li>
                    <li>Phonelar</li>
                    <li>Watch</li>
                    <li>VelarSound</li>
                    <li>Accesorios</li>
                </ul>
            </div>
             <div class="columna"></div>

            <div class="filas-cont">
                <h4>Cuenta & Comunidad</h4>
                <ul> 
                    <li>Mi cuenta</li>
                    <li>Mis productos</li>
                    <li>Pedidos</li>
                    <li>Lista de deseos</li>
                    <li>Members</li>
                    <li>Servicio</li> 
                    <li>Registra tu producto</li>
                </ul>
            </div>
             <div class="columna"></div>

            <div class="filas-cont">
                <h4>Empresa</h4>
                <ul>
                    <li>Quienes somos</li>
                    <li>Trabaja con Nosotros</li>
                    <li>Contactos</li>
                </ul>
            </div>
             <div class="columna"></div>

            <div class="filas-cont">
                 <h4> Tiendas &  Compras</h4>
                <ul> 
                    <li>Store</li>
                    <li>Envios y Devoluciones</li>
                    <li>Metodos de Pago</li>
                </ul>
            </div>
        
        </div>

        <ul class="lista-politicas">
            <li>Política de Privacidad</li>
            <li>Términos y Condiciones</li>
            <li>Cookies</li>
        </ul>
        <div class="redes-sociales">
            <a href="https://www.facebook.com/?locale=es_ES"><i class="facebook"> <img src="../img/facebook.png" width="512"  alt="logo de facebook" > </i>Facebook</a>
            <a href="https://x.com/?lang=es"><i class="twitter"> <img src="../img/twitter.png" width="512" alt="logo de instagram"></i>twitter</a>
            <a href="https://www.instagram.com"><i class="instagram"> <img src="../img/instagram.png" width="512" alt="logo de twitter"> </i>instagram</a>
            <a href="https://es.linkedin.com"><i class="linkedin"> <img src="../img/linkedin.png" width="512" alt="logo de linkedin"></i>linkedin</a>
        </div>
    </div>
   
</body>
</html>