<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colección</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../imagenes/rosa.png" type="icono">
    <script src="https://kit.fontawesome.com/01b2b00967.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="../index.html" class="logo">Museo Rose</a>
            <nav class="navigation">
                <ul>
                    <li><a href="portfolio.html">Colección</a></li>
                    <li><a href="presupuesto.html">Visitas</a></li>
                    <li><a href="contacto.html">Contactos</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
   
    <div class="contenerdor-carrusel">
        <div class="carrusel" id="itemcarrusel-1">
            <div class="tarjeta-carrusel" id="carrusel1">
                <h3>Fernanda Francés Arribas</h3>
                <h4>Fue una pintora española conocida por sus bodegones y pinturas de flores...</h4>
                <img src="../imagenes/Frutas-fernanda.png" alt="Frutas-fernanda" class="Frutas-fernanda" width="1920px">
                
            </div>
            <div class="fechas">
                <a href="#itemcarrusel-3">
                    <i class="fa-solid fa-caret-left" style="color: #ffffff;"></i>
                </a>
                <a href="#itemcarrusel-2">
                    <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>
                </a>
            </div>
        </div>
        <div class="carrusel" id="itemcarrusel-2">
            <div class="tarjeta-carrusel" id="carrusel2">
                <h3>Georgia O'Keeffe</h3>
                <h4>Artista estadounidense, conocida especialmente por sus pinturas de flores, rascacielos de Nueva York y paisajes de Nuevo México..</h4>
                <img src="../imagenes/Georgia_O.png" alt="Georgia" class="Georgia" width="1923">
            </div>
            <div class="fechas">
                <a href="#itemcarrusel-1">
                    <i class="fa-solid fa-caret-left" style="color: #ffffff;"></i>
                </a>
                <a href="#itemcarrusel-3">
                    <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>
                </a>
            </div>
        </div>
        <div class="carrusel" id="itemcarrusel-3">
            <div class="tarjeta-carrusel" id="carrusel3">
                <h3>Berthe Marie Pauline Morisot</h3>
                <h4>Pintora francesa, fundadora y figura clave del movimiento impresionista..</h4>
                <img src="../imagenes/Morisot_Sommertag_.png" alt="Morisot_Sommertag_" class="Morisot_Sommertag_" width="1921px">
            </div>
            <div class="fechas">
                <a href="#itemcarrusel-2">
                    <i class="fa-solid fa-caret-left" style="color: #ffffff;"></i>
                </a>
                <a href="#itemcarrusel-1">
                    <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>
                </a>
            </div>
        </div>
    </div> 
    <div id="contenedor-puntos">
        <a href="#itemcarrusel-1">·</a>
        <a href="#itemcarrusel-2">·</a>
        <a href="#itemcarrusel-3">·</a>
    </div>

    <h2><center>Colecciones</center></h2>
    <div class="contenedor-coleccion">
        <img src="../imagenes/nourse-autoretrato.jpg" alt="autoretrato de nourse" id="nourse-autoretrato" width="1200px">

        <img src="../imagenes/tamara-rojo.jpg" alt="tamara-rojo" id="tamara-rojo" width="900px">

        <img src="../imagenes/elisabeth-pecho.jpeg" alt="elisabeth-pecho" id="elisabeth-pecho" width="906px">
    </div>
    <div class="contenedor-coleccion1">
        <img src="../imagenes/antonia-niña.jpg" alt="antonia-perro" id="antonia-niña" width="1670px">

        <img src="../imagenes/fernanda-flores.jpg" alt="fernanda-flores" id="fernanda-flores" width="1000px">

        <img src="../imagenes/morisot-retrato.jpeg" alt="morisot-retrato" id="morisot-retrato" width="1221px">
    </div>


    <div class="pie-superior"></div>
    <footer class="footer">
        <div class="contenedor-logo">
            <img src="../imagenes/logo.png" alt="logo" class="lopie" width="549px">
        
        </div>
        <div class="contenedor-pie">
            <div class="linea-vertical"></div>

            <div class="horarios">
                <ul>
                    <li><b>Abierto</b></li>
                    <li>De lunes a sabado de 9:00 / 21:00</li>
                </ul>
                    <br>
                <ul>
                    <li><b>Cerrados</b></li>
                    <li>1 de enero</li>
                    <li> 1 de mayo</li>   
                    <li>25 de diciembre</li>
                </ul>
            </div>
                
            <div class="linea-vertical"></div>

            <ul class="Exposiciones">
                <li><b>Exposiciones Actuales</b></li>
                <li>
                    <img src="../imagenes/helen.jpg" alt="helen" width="828px">
                    <span>Helen Frankenthaler
                    <br>13/08/2024-26/11/2024
                    </span>
                </li>
                <li>
                    <img src="../imagenes/lee.jpeg" alt="lee"  width="209px">
                    <span>Lee Krasner
                    <br>24/08/2024-12/02/2025
                    </span>
                   </li>
                <li>
                    <img src="../imagenes/Leonor.jpg" alt="leonor" width="213px">
                    <span>Leonor Fini
                    <br>15/07/2024-21/10/2024
                    </span>
                </li>
                <li>
                    <img src="../imagenes/leonora.jpg" alt="leonora" width="800px">
                    <span>Leonora Carrington
                    <br>01/01/2024-06/09/2025
                    </span>
                </li>
            </ul>

            <div class="linea-vertical"></div>

            <ul class="redes">
                <li><b>Redes Sociales</b></li>
                <li>
                    <img src="../imagenes/x.png"  alt="x" width="410px"> 
                    <span>Museo_Rose</span>
                </li>
                <li>
                    <img src="../imagenes/face.png" alt="facebook" width="164px">
                    <span>Museo_Rose</span>
                </li>
                <li>
                    <img src="../imagenes/ins.png" alt="instagram" width="354px" href="https://www.instagram.com/adobe/">
                    <span>MR_Museo_Rose</span>
                </li>
            </ul>
        </div>
        <div class="pie_avisos">
            <a href="#">Aviso legal</a> |
            <a href="#">Política de privacidad</a> |
            <a href="#">Política de cookies</a> |
            <a href="#">Accesibilidad</a> |
            <a href="contacto.html">Contacto</a>
        </div>
        <div class="pie_direccion">
            <p>Copyright © 2024. Museo Rose. calle princesa s/n. Madrid. 28014. Tel +34 91 330 2800. Todos los derechos reservados</p>
        </div>
    </footer>
   

</body>
</html>