<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velar</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" href="../img/icon.png"  type="imagen/x-icon" sizes="16x16" class="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/js/java.js" defer></script>
</head>
<body>
    <header class="header">
        <div class="logo-nav-container">
        <nav class="navegation">
            <ul>
                <li><a href="../index.html" class="lis-en">Inicio</a></li>
                <li><a href="galeria.html" class="lis-en">Galeria</a></li>
               <li><a href="../index.html" class="logo"><img src="../img/iso.png" width="36" alt="icon"></a></li>
                <li><a href="presupuesto.html" class="lis-en activo">Presupuesto</a></li>
                <li><a href="contacto.html" class="lis-en">Contacto</a></li>

            </ul>
        </nav>
        </div>
    </header>
    <!-- video promocional-->
    <div class="presupuesto">
        <div class="video-contene"> 
            <div class="video-presu">
                <video src="../mp4/vid-presu.mp4" autoplay muted loop width="640" height="360"></video>
            </div>
        </div>

        <!-- formulario del presupuesto -->
        <div class="formulario-presu">
            <h1 class="h1-presu">PRESUPUESTO</h1>
            <form id="formulario-presu" name="info">
            <div class="user-info">
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" maxlength="15" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$" title="Solo letras, ni número ni símbolo" required>
                </div>
                <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido"  maxlength="40" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$" title="Solo letras, ni número ni símbolo" required>
                </div>
                <div>
                    <label for="telefono">Telefono</label>
                    <input type="tel" id="telefono" name="telefono" pattern="[0-9]{9}" maxlength="9" title="Introduce exactamente 9 números sin espacios ni símbolos" required>
                </div>
                <div>
                    <label for="email">Correo electronico</label>
                    <input type="email" id="email" name="email" placeholder="ejemplo@correo.com" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Introduce un correo electrónico válido" required>
                </div>
            </div>
            <label for="asunto">Asunto</label>
            <textarea id="asunto" name="asunto" rows="5"  cols="100"  maxlength="500"> </textarea>

            <label for="opciones">Seleccione un producto</label>
            <select id="opciones" name="producto" onchange="mostrarPrecio()">
                <option value="" disabled selected>Elige un producto</option>
                <option value="Ve-mini" data-precio="1199">Ve mini - 1.199€</option>
                <option value="Phonelar" data-precio="859">Phonelar - 859€</option>
                <option value="iVe" data-precio="1469">iVe - 1.469€</option>
                <option value="Wacth" data-precio="669">Wacth - 669€</option>
                <option value="Pad" data-precio="1009">Pad - 1.009€</option>
                <option value="Velar-Sound" data-precio="178">Velar Sound - 178€</option>
                <option value="Bocin" data-precio="269">Bocin - 269€</option>
            </select>

            <label for="duracion">¿Por cuantos meses deseas financiarlo?</label>
            <input type="number" id="duracion" name="duracion" min="1" max="24" oninput="mostrarPrecio()"  placeholder="Eje:3 meses" required>
            <p id="resultado" class="resultado">Total: $0 mensual</p>

            <label>Elige los extras para el producto</label>
            <div class="extra">
                <label><input type="checkbox" name="extra" value="envio-rapido" onchange="mostrarPrecio()"> Envío Rápido (+20€)</label>
                <label><input type="checkbox" name="extra" value="grabado-personalizado" onchange="mostrarPrecio()"> Grabado Personalizado (+15€)</label>
                <label><input type="checkbox" name="extra" value="regalo" onchange="mostrarPrecio()"> Envoltura de Regalo (+10€)</label>
            </div>

            <div class="resultado" id="resultadoExtra" >Total: $0.00</div>
            <label class="checkbox-presu">
                Acepto las condiciones de privacidad.
                <input type="checkbox" id="condiciones" required>
                
            </label>
                
                <!-- Botones -->
            <div class="botones">
                <button type="submit">Enviar</button>
                <button type="reset" onclick="reiniciarPresupuesto()" id="resetear">Resetear</button>
            </div>   
            </form>
        </div>
    <!-- boton para subir  -->
        <div class="button-subir" id="buttonSubir">
            <button>
                <i class="fa-solid fa-angle-up"></i>
            </button>
        </div>
    </div>
<!-- beneficios de cotizar con la empresa -->
    <div class="presu-beneficios">
        <h2>¿Por qué cotizar con nosotros?</h2>
        <div class="presu-li">
            <div class="li-1">
                <p> Envíos rápidos a todo el país</p>
            </div>
            <div class="li-2">
                <p>Financiamiento sin intereses (0% APR)</p>
            </div>
            <div class="li-3">
                <p> Opciones de regalo personalizadas</p>
            </div>
            <div class="li-4">
                <p>Opción de Rembolso</p>
            </div>
            <div class="li-5">
                <p>Pagos seguros y flexibles</p>
            </div>
        </div>
    </div>

<!-- productos populares -->
    <h2 class="presu-h2">Productos populares</h2>
    <div class="presu-productos">
        <div class="presu-sound">
            <img src="../img/presu-sound.png" width="785" alt="audifonos">
        </div>
        <div class="presu-phonelar">
            <img src="../img/presu-phonelar.png" width="567" alt="iphone">
        </div>
        <div class="presu-ve">
            <img src="../img/presu-ive.png" width="614" alt="ordenador">
        </div>
         <div class="presu-bocin">
            <img src="../img/presu-bocin.png" width="614" alt="bocina">
        </div>
    </div>
<!-- reseñas de los clientes -->
    <div class="presu-reseñas">
        <h3>Lo que dicen nuestros clientes</h3>
        <div class="reseñas">
            <p>
                “Recibí mi presupuesto al instante y el producto llegó en 2 días. Excelente servicio.” – María G.
            </p>
            <p>
                “Muy fácil de usar, y pude personalizar mis auriculares.” – Jorge V.
            </p>
        </div>
    </div>
    <!-- preguntas frecuentes -->
    <div class="presu-preguh3">
         <h3>Preguntas Frecuentes</h3>
        <div class="presu-preguntas">
            <div class="pregunta-col">
                <div class="pregunta-item">
                    <h4>¿Cuánto tarda en llegar el presupuesto?</h4>
                    <p>Lo recibirás por correo en menos de 1 hora.</p>
                </div>
                <div class="pregunta-item">
                    <h4>¿Puedo cambiar productos después de enviar?</h4>
                    <p>Sí, puedes responder al correo para solicitar ajustes.</p>
                </div>
            </div>
            <div class="pregunta-col">
                <div class="pregunta-item">
                    <h4>¿Puedo recibir el presupuesto por correo o WhatsApp?</h4>
                    <p>Sí, podemos enviarte el presupuesto en formato PDF a través de correo electrónico</p>
                </div>
                <div class="pregunta-item">
                    <h4>¿Puedo modificar un presupuesto después de recibirlo?</h4>
                    <p>Sí, puedes solicitar cambios si decides añadir, quitar o sustituir algún producto.</p>
                </div>
            </div>
            <div class="pregunta-col">
                <div class="pregunta-item">
                    <h4>¿Cuánto tiempo es válido un presupuesto?</h4>
                    <p>Normalmente es válido por 7 a 15 días, dependiendo del producto. Esto se debe a posibles cambios en el stock o los precios del proveedor.</p>
                </div>
                <div class="pregunta-item">
                    <h4>¿Puedo solicitar un presupuesto para varios productos?</h4>
                    <p>Sí, puedes pedir presupuestos de uno o varios productos a la vez, y también te podemos hacer combos personalizados.</p>
                </div>
            </div>
        </div>
    </div>
     
    <!-- footer -->
    <div class="footer">
        <div class="footer-imagen">
            <img src="../img/footer-logo.png" width="365" alt="isotipo">
             <p>Antencion telefonica con el numero 443 56 43 29 <br>
            Lunes a Viernes 9:00 a 20:00 y de 9:00 a 18:00 los Sabados.<br>
             Direcciones en España: <br>
            Prta del Sol, 1, Centro, 28013 Madrid desde 9:30 a 21:00</p>
        </div>
        <div class="filas">
            <div class="filas-cont">
                <h4>Ver &  comprar</h4>
                <ul>
                    <li>Tienda</li>
                    <li>Ve</li>
                    <li>Pad</li>
                    <li>Phonelar</li>
                    <li>Watch</li>
                    <li>VelarSound</li>
                    <li>Accesorios</li>
                </ul>
            </div>
             <div class="columna"></div>

            <div class="filas-cont">
                <h4>Cuenta & Comunidad</h4>
                <ul> 
                    <li>Mi cuenta</li>
                    <li>Mis productos</li>
                    <li>Pedidos</li>
                    <li>Lista de deseos</li>
                    <li>Members</li>
                    <li>Servicio</li> 
                    <li>Registra tu producto</li>
                </ul>
            </div>
             <div class="columna"></div>

            <div class="filas-cont">
                <h4>Empresa</h4>
                <ul>
                    <li>Quienes somos</li>
                    <li>Trabaja con Nosotros</li>
                    <li>Contactos</li>
                </ul>
            </div>
             <div class="columna"></div>

            <div class="filas-cont">
                 <h4> Tiendas &  Compras</h4>
                <ul> 
                    <li>Store</li>
                    <li>Envios y Devoluciones</li>
                    <li>Metodos de Pago</li>
                </ul>
            </div>
        
        </div>

        <ul class="lista-politicas">
            <li>Política de Privacidad</li>
            <li>Términos y Condiciones</li>
            <li>Cookies</li>
        </ul>
        <div class="redes-sociales">
            <a href="https://www.facebook.com/?locale=es_ES"><i class="facebook"> <img src="../img/facebook.png" width="512"  alt="logo de facebook" > </i>Facebook</a>
            <a href="https://x.com/?lang=es"><i class="twitter"> <img src="../img/twitter.png" width="512" alt="logo de instagram"></i>twitter</a>
            <a href="https://www.instagram.com"><i class="instagram"> <img src="../img/instagram.png" width="512" alt="logo de twitter"> </i>instagram</a>
            <a href="https://es.linkedin.com"><i class="linkedin"> <img src="../img/linkedin.png" width="512" alt="logo de linkedin"></i>linkedin</a>
        </div>
    </div>
    
</body>
</html>