<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitas</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../imagenes/rosa.png" type="icono">

</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="../index.html" class="logo">Museo Rose</a>
            <nav class="navigation">
                <ul>
                    <li><a href="colección.html">Colección</a></li>
                    <li><a href="visitas.html">Visitas</a></li>
                    <li><a href="contacto.html">Contactos</a></li>
                </ul>
            </nav>
        </div>
        
    </header>

    <div class="visita-superior">
        <div class="linea-horizontal"></div>
        <div class="linea-horizontal-"></div>
        <h2>VISITAS</h2>
        <div class="visita-texto">
            <div class="visitas-horario">
                <h3>Horarios</h3>
                <P>Lunes-sábado: 10-20 h
                Domingos y festivos: 10-19 h<br>
                Cerrado: 1 enero, 1 mayo, 25 diciembre<br>
                Horario reducido: (10-14 h) 6 enero, 24 y 31 diciembre</P>
            </div>
            <div class="visita-tarifa">
                <h3>Tarifas</h3>
                <p>Entrada general:15€ <br>
                Entrada reducida:7,50€</p>  
            </div> 
        </div>
    </div>

    <div class="visita-tabla">
        <table>
            <tr>
                <td>Horarios y Tarifas</td>
                <td>Visita en grupo</td>
                <td>Como llegar</td>
            </tr>
        </table>
    </div>
    <div class="formulario-contenedor">
        <div class="formulario-izquierda">
            <h2>Contacta con nosotros</h2>
            <p>Send us a message and we'll get your questions answered as soon as possible.</p>
            <button class="cta-button">Find an Agent</button><br>
            <img src="../imagenes/geogia-ondas.webp" alt="geogia-ondas" class="geogia-ondas">
        </div>
    
        <section class="formulario-derecha">
            <div class="formulario">
                <form action="#" method="POST">
                    <h2>Formulario de Contacto</h2>
                    
                    <label for="nombre">Nombre y Apellidos:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Tu nombre y apellidos" required>
                    
                    <label for="email">Correo electrónico:</label>
                    <input type="email" id="email" name="email" placeholder="Tu correo" required>
                    
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono" placeholder="Tu teléfono" required>
                    
                    <label for="informacion">Solicite más información:</label>
                    <textarea id="informacion" name="informacion" rows="5" placeholder="Escribe aquí las preguntas" required></textarea>
                    
                    <label>
                        <input type="checkbox" id="privacidad" name="privacidad" required>
                        Acepto la <a href="#" target="_blank">Política de Privacidad</a>
                    </label>
                    
                    <input type="submit" class="formulario-boton" value="Enviar">
                </form>
            </div>
        </section>
    </div>
    <div class="pie-superior"></div>
    
    <div class="mapa-footer">
        <img src="../imagenes/mapa.png" id="mapa-footer">
    </div>

    <footer class="footer">
        <div class="contenedor-logo">
            <img src="../imagenes/logo.png" alt="logo" class="lopie">
    
        </div>
        <div class="contenedor-pie">
            <div class="linea-vertical"></div>

            <div class="horarios">
                <ul>
                    <li><b>Abierto</b></li>
                    <li>De lunes a sabado de 9:00 / 21:00</li>
                </ul>
                    <br>
                <ul>
                    <li><b>Cerrados</b></li>
                    <li>1 de enero</li>
                    <li> 1 de mayo</li>   
                    <li>25 de diciembre</li>
                </ul>
            </div>
            
            <div class="linea-vertical"></div>

            <ul class="Exposiciones">
                <li><b>Exposiciones Actuales</b></li>
                <li>
                    <img src="../imagenes/helen.jpg" alt="helen">
                    <span>Helen Frankenthaler
                    <br>13/08/2024-26/11/2024
                    </span>
                </li>
                <li>
                    <img src="../imagenes/lee.jpeg" alt="lee">
                    <span>Lee Krasner
                    <br>24/08/2024-12/02/2025
                    </span>
                </li>
                <li>
                    <img src="../imagenes/Leonor.jpg" alt="leonor">
                    <span>Leonor Fini
                    <br>15/07/2024-21/10/2024
                    </span>
                </li>
                <li>
                    <img src="../imagenes/leonora.jpg" alt="leonora">
                    <span>Leonora Carrington
                    <br>01/01/2024-06/09/2025
                    </span>
                </li>
            </ul>

            <div class="linea-vertical"></div>

            <ul class="redes">
                <li><b>Redes Sociales</b></li>
                <li>
                    <img src="../imagenes/x.png" alt="x">
                    <span>Museo_Rose</span>
                </li>
                <li>
                    <img src="../imagenes/face.png" alt="facebook">
                    <span>Museo_Rose</span>
                </li>
                <li>
                    <img src="../imagenes/ins.png" alt="instagram">
                    <span>MR_Museo_Rose</span>
                </li>
            </ul>
        </div>
    </footer>



    

</body>

</html>