<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../imagenes/rosa.png" type="icono">

</head>
<body>

    <header class="header">
        <div class="container logo-nav-container">
            <a href="../index.html" class="logo">Museo Rose</a>
            <nav class="navigation">
                <ul>
                    <li><a href="colección.html">Colección</a></li>
                    <li><a href="visitas.html">Visitas</a></li>
                    <li><a href="contacto.html">Contactos</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
    <div class="cuadrado_superior"></div>
    <div class="contactos">

        
        <h2>Contactos</h2>
        <br>
        <h4>Centro de Atención al Visitante
            <br>AV@museorose.es
        </h4>
        <h4>Contacto General
            <br>MuseoRose@museorose.es
        </h4> 
        <h4>Redes sociales
            <br>@redessociales
        </h4>
        <h4>Web
            <br> <a href="../index.html">web@museoderose.es </a>
        </h4>
        <h4>Tienda
            <br>tienda@MuseoRose
        </h4>
        <h4>Colección Rose
            <br>Colección@Rose
        </h4>
        <h4>Quejas y Sugerencias
            <br>quejasYsugerencias.es
        </h4>

        <div class="fondo-contacto"></div>
        
    </div>    
    <div class="pie-superior"></div>
    <div class="mapa-footer">
        <img src="../imagenes/mapa.png" id="mapa-footer"  width="1921px">
    </div>

    <footer class="footer">
        <div class="contenedor-logo">
            <img src="../imagenes/logo.png" alt="logo" class="lopie" width="549px">
    
        </div>
        <div class="contenedor-pie">
            <div class="linea-vertical"></div>

            <div class="horarios">
                <ul>
                    <li><b>Abierto</b></li>
                    <li>De lunes a sabado de 9:00 / 21:00</li>
                </ul>
                    <br>
                <ul>
                    <li><b>Cerrados</b></li>
                    <li>1 de enero</li>
                    <li> 1 de mayo</li>   
                    <li>25 de diciembre</li>
                </ul>
            </div>
            
            <div class="linea-vertical"></div>

            <ul class="Exposiciones">
                <li><b>Exposiciones Actuales</b></li>
                <li>
                    <img src="../imagenes/helen.jpg" alt="helen" width="828px">
                    <span>Helen Frankenthaler
                    <br>13/08/2024-26/11/2024
                    </span>
                </li>
                <li>
                    <img src="../imagenes/lee.jpeg" alt="lee" width="209px">
                    <span>Lee Krasner
                    <br>24/08/2024-12/02/2025
                    </span>
                </li>
                <li>
                    <img src="../imagenes/Leonor.jpg" alt="leonor" width="213px" >
                    <span>Leonor Fini
                    <br>15/07/2024-21/10/2024
                    </span>
                </li>
                <li>
                    <img src="../imagenes/leonora.jpg" alt="leonora" width="800px">
                    <span>Leonora Carrington
                    <br>01/01/2024-06/09/2025
                    </span>
                </li>
            </ul>

            <div class="linea-vertical"></div>

            <ul class="redes">
                <li><b>Redes Sociales</b></li>
                <li>
                    <img src="../imagenes/x.png" alt="x" width="410px">
                    <span>Museo_Rose</span>
                </li>
                <li>
                    <img src="../imagenes/face.png" alt="facebook" width="164px">
                    <span>Museo_Rose</span>
                </li>
                <li>
                    <img src="../imagenes/ins.png" alt="instagram" width="354px">
                    <span>MR_Museo_Rose</span>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>